<body class="scms-body">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <div class="container pt-5">
        <h2>Dashboard</h2>
        <p>Here your will manage you simplecms.</p>
        <hr/>
        <div class="pt-5">
            <div>
                <label>API key </label>
            </div>
            <div class="input-group w-50">
                <div class="input-group-prepend">
                    <div class="input-group-text" id="btnGroupAddon">
                        <i class="fas fa-key"></i>
                    </div>
                </div>
                <input id="apikeytext" disabled type="text" class="form-control" placeholder="You should generate api key to protect your api."
                    aria-label="Input group example" aria-describedby="btnGroupAddon">
                <div class="input-group-append">
                    <button id="apikeygeneratebtn" class="btn btn-outline-secondary" type="button">Generate</button>
                </div>
            </div>

        </div>
        <%- include stickymenu.ejs %>

    </div>
    <script>
        app.dashboard.init();
    </script>
</body>