<body class="scms-body">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <div class="container pt-5">
        <h2>Dashboard</h2>
        <p>Here your will manage you simplecms.</p>
        <hr />
        <div class="pt-5 d-flex justify-content-center flex-wrap">
            <div class="card w-100">


                <div class="card-header">
                    <h3 class="card-title">API key</h3>
                </div>
                <div class="card-body">
                    <div class="input-group w-50">
                        <div class="input-group-prepend">
                            <div class="input-group-text" id="btnGroupAddon">
                                <i class="fas fa-key"></i>
                            </div>
                        </div>
                        <input id="apikeytext" disabled type="text" class="form-control" placeholder="You should generate api key to protect your api."
                            aria-label="Input group example" aria-describedby="btnGroupAddon">
                        <div class="input-group-append">
                            <button id="apikeygeneratebtn" class="btn btn-outline-secondary" type="button">Generate</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card w-100">
                    <div class="card-header d-flex justify-content-between">
                        <h3 class="card-title">Requests diagram</h3>
    
                        <div class="selectgroup">
                            <label class="selectgroup-item">
                                <input type="radio" name="when" value="daily" class="selectgroup-input" checked="">
                                <span class="selectgroup-button">Daily</span>
                            </label>
    
                            <label class="selectgroup-item">
                                <input type="radio" name="when" value="monthly" class="selectgroup-input">
                                <span class="selectgroup-button">Monthly</span>
                            </label>
                            <label class="selectgroup-item">
                                <input type="radio" name="when" value="yearly" class="selectgroup-input">
                                <span class="selectgroup-button">Yearly</span>
                            </label>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="chart-employment" style="height: 16rem; max-height: 256px; position: relative;" class="c3">
    
                        </div>
                    </div>
                </div>

            <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Accounts configuration</h3>
                    </div>
                    <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste,
                        itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur,
                        deserunt eaque error nulla temporibus!
                    </div>
                    <div class="card-footer">
                        This is standard card footer
                    </div>
                </div>
            <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Backups configuration</h3>
                    </div>
                    <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste,
                        itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur,
                        deserunt eaque error nulla temporibus!
                    </div>
                    <div class="card-footer">
                        This is standard card footer
                    </div>
                </div>

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Blog configuration</h3>
                </div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste,
                    itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur,
                    deserunt eaque error nulla temporibus!
                </div>
                <div class="card-footer">
                    This is standard card footer
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Newsletter configuration</h3>
                </div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste,
                    itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur,
                    deserunt eaque error nulla temporibus!
                </div>
                <div class="card-footer">
                    This is standard card footer
                </div>
            </div>


        </div>
        <%- include stickymenu.ejs %>

    </div>
    <script>
        app.dashboard.init();
    </script>
</body>