<body class="scms-body">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <div class="container pt-5">
        <h2>Exponents</h2>
        <p>Manage your content.</p>
        <hr/>
        <div class="pt-2 d-flex justify-content-center">
            <div class="exponents-list w-75">

            </div>
            <%- include stickymenu.ejs %>
            <%- include editModal.ejs %>

        </div>
    </div>
    <script>
        simplecms.exponents.init();
    </script>
</body>