<body class="scms-body">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <div class="container pt-5">
        <div class="d-flex justify-content-between">
            <div>
                <h2>Media</h2>
                <p>Manage and upload media</p>
            </div>
            <div class="d-flex flex-column-reverse p-3">
                <form ref='uploadForm' id='uploadForm' action='/upload' method='post' encType="multipart/form-data">
                    <div class="d-flex justify-content-between">
                        <div class="custom-file mr-2">
                            <input type="file" class="custom-file-input" name="sampleFile" accept="image/*" data-type='image' >
                            <label class="custom-file-label">Choose file</label>
                        </div>
                        <div>
                            <button class="btn btn-primary scms-btn scms-priamry" type="submit">
                                <i class="fas fa-plus"></i> Upload file
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <hr/>
        <div class="pt-2 ">
            <div class="d-flex justify-content-center">

                <div class="media-list w-100">

                </div>
            </div>


            <%- include stickymenu.ejs %>

        </div>
    </div>
    <script>
        app.media.init();
    </script>
</body>