<body class="scms-body">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <div class="container pt-5">
            <div class="d-flex justify-content-between">
                    <div>
                            <h2>Monitoring</h2>
                            <p>You can easily check your website status.</p>
                    </div>
                    <div>
                        <button onclick="app.goTo('/simplecms/dashboard/newmonitoring')" type="submit" class="btn btn-primary scms-btn scms-primary">
                            <i class="fas fa-plus"></i>
                            Add HealthCheck
                        </button>
                    </div>
        
                </div>

        <hr />
        <div class="pt-5 d-flex justify-content-center flex-wrap">
          
           
            <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Accounts configuration</h3>
                    </div>
                    <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste,
                        itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur,
                        deserunt eaque error nulla temporibus!
                    </div>
                    <div class="card-footer">
                        This is standard card footer
                    </div>
                </div>
            <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Backups configuration</h3>
                    </div>
                    <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste,
                        itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur,
                        deserunt eaque error nulla temporibus!
                    </div>
                    <div class="card-footer">
                        This is standard card footer
                    </div>
                </div>

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Blog configuration</h3>
                </div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste,
                    itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur,
                    deserunt eaque error nulla temporibus!
                </div>
                <div class="card-footer">
                    This is standard card footer
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Newsletter configuration</h3>
                </div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste,
                    itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur,
                    deserunt eaque error nulla temporibus!
                </div>
                <div class="card-footer">
                    This is standard card footer
                </div>
            </div>


        </div>
        <%- include stickymenu.ejs %>

    </div>
</body>