<div id="stickymenu" class="left-menu">
    <ul>

        <li class="link-white">
            <a class="tooltip-label" href="/simplecms/dashboard/">
                <i class="fas fa-tachometer-alt"></i>
                <span class="tooltip-text tooltip-left menu-tooltip">Dashboard.</span>

            </a>
        </li>
        <li class="link-white">
            <a class="tooltip-label" href="/simplecms/dashboard/exponents">
                <i class="fas fa-th-list"></i>
                <span class="tooltip-text tooltip-left menu-tooltip">Your exponents.</span>

            </a>
        </li>

        <li class="link-white">
            <a class="tooltip-label" href="/simplecms/dashboard/newexponent">
                <i class="fas fa-plus"></i>
                <span class="tooltip-text tooltip-left menu-tooltip">Add new exponent.</span>

            </a>
        </li>

        <li class="link-white">
            <a class="tooltip-label" href="/simplecms/dashboard/templates">
                <i class="fas fa-file"></i>
                <span class="tooltip-text tooltip-left menu-tooltip">Templates.</span>

                </i>
            </a>
        </li>

        <li class="link-white">
            <a class="tooltip-label" href="/simplecms/dashboard/newtemplate">
                <i class="fas fa-file-signature"></i>
                <span class="tooltip-text tooltip-left menu-tooltip">Add new template.</span>

            </a>
        </li>
        <li class="link-white ">
            <a class="tooltip-label" href="/simplecms/dashboard/media">
                <i class="far fa-images"></i>
                <span class="tooltip-text tooltip-left menu-tooltip">Manage media.</span>
            </a>
        </li>
        <li class="link-white ">
            <a class="tooltip-label" href="/simplecms/dashboard/lang">
                <i class="fas fa-globe"></i>
                <span class="tooltip-text tooltip-left menu-tooltip">Languages.</span>
            </a>
        </li>
    </ul>
</div>