<body class="scms-body">

    <div class="container pt-5">

        <h2>Database</h2>
        <p>List all of objects you have in your simplecms.</p>
        <hr />

        <div class="d-flex justify-content-between">
            <div class="form-group w-25">
                <label for="scmsTableSelect">Select table:</label>
                <select class="form-control" id="scmsTableSelect">
                </select>
            </div>
            <div class="d-flex align-items-end mb-4">
                <form class="input-icon ">
                    <input type="search" class="form-control header-search" placeholder="Search..." tabindex="1">
                    <div class="input-icon-addon">
                        <i class="fe fe-search"></i>
                    </div>
                </form>
            </div>
        </div>

        <div class="card">

            <table id="scmsDbTable" class="table table-hover text-center">
                <thead class="text-light">
                    <tr>
                        <th>#ID</th>
                        <th>Content</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

    </div>
    <script>
        simplecms.database.init();
    </script>
</body>