<body class="scms-body">
    <div class="container pt-5">


        <h2>Examples</h2>
        <p>Preview, how simple tags works.</p>
        <hr/>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-padding nav-item nav-link active" id="nav-text-tab" data-toggle="tab" href="#nav-text" role="tab" aria-controls="nav-text"
                    aria-selected="true">Text</a>
                <a class="nav-padding nav-item nav-link" id="nav-image-tab" data-toggle="tab" href="#nav-image" role="tab" aria-controls="nav-image"
                    aria-selected="false">Image</a>
                <a class="nav-padding nav-item nav-link" id="nav-video-tab" data-toggle="tab" href="#nav-video" role="tab" aria-controls="nav-video"
                    aria-selected="false">Video</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active " id="nav-text" role="tabpanel" aria-labelledby="nav-text-tab">
                <div class="d-flex justify-content-center p-3">
                    <simpletext uuid="profileNavContent"></simpletext>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-image" role="tabpanel" aria-labelledby="nav-image-tab">
                <div class="d-flex justify-content-center p-3">
                    <simpleimage uuid="firstImage"></simpleimage>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-video" role="tabpanel" aria-labelledby="nav-video-tab">
                <div class="d-flex justify-content-center p-3">
                    <simplevideo uuid="firstVideo"></simplevideo>
                </div>
            </div>
        </div>
    </div>


</body>