



<body class="scms-body">
  <div class="container pt-5">
    
    <div class="d-flex align-items-center flex-column">
      <h2>Geting started!</h2>
      <p>Welcome to Simple CMS.</p>
    </div>
    <hr/>

    <div class="p-5">

    </div>
  </div>
</body>
