<!doctype html>

<head>
    <title>Simple CMS</title>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="icon" href="/favicon.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="/simplecms.js"></script>
    <script src="/lib/tabler.js"></script>
    <script src="/lib/chart/d3.v3.min.js"></script>
    <script src="/lib/chart/c3.min.js"></script>
    <link rel="stylesheet" href="/bundle.css">
    <link rel="stylesheet" href="/lib/plugin.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
        
</head>
<%- include nav.ejs %>
    <%- body %>

        <script>
            simplecms.init({
                url: "",
                apikey: "85f1f9772b69f4e8762b252de9c3cafabaf6ac04"
            });
        </script>

        </html>