.scms-body .container {
  padding-left: 1rem !important;
  padding-left: 1rem !important;
  padding-top: 40px !important;
}

.pointer {
  cursor: pointer;
}

simpletext {
  min-width: 10px;
  min-height: 10px;
  display: flex;
}

simpleimage {
  min-width: 10px;
  min-height: 10px;
  display: flex;
}

simpleimage > img.default {
  background: lightgray;
  border: 1px dotted gray;
  opacity: 0.5;
  width: 50px;
  height: 50px;
}

simpletext:empty:not(:focus)::before {
  content: attr(data-placeholder);
}

p:empty:not(:focus)::before {
  content: attr(data-placeholder);
}

.scms-navbar {
  box-shadow: 0px 5px 5px grey;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 100;
}

.btn-login-bottom {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  margin-top: -1px !important;
}

.btn-login-top {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.max-600 {
  max-width: 600px;
}

.smallhr {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1110;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin-right: -16px;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: lightgray;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.link-white a {
  color: white !important;
  transition: 0.3s;
}

.link-white a:hover {
  color: #f1f1f1 !important;
  text-decoration: none;
}

nav a {
  color: gray !important;
}

#navbar-example3 a.active {
  background-color: #64df91 !important;
  color: white !important;
}

.scms-primary {
  background-color: #64df91 !important;
}

.scms-btn {
  border-color: #64df91 !important;
  background-color: #64df91 !important;
}

.scms-btn:hover {
  border-color: #44bf71 !important;
  background-color: #44bf71 !important;
}

.bg-article {
  background-color: #f5f2f0;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
}

.bd-example {
  margin-right: 0;
  margin-left: 0;
  position: relative;
  margin: 1rem -15px 0;
  overflow-y: scroll;
}

.bd-example::after {
  display: block;
  clear: both;
  content: "";
}

.scrollspy-example-2 {
  position: relative;
  height: 420px;
  overflow: auto;
}

.left-menu {
  position: fixed;
  background: #64df91;
  width: 45px;
  left: 0;
  padding: 10px;
  box-shadow: 0px 5px 5px grey;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  top: 250px;
}

.left-menu ul {
  list-style-type: none;
  margin: 0;
  padding-left: 5px !important;
  padding: 4px;
}

.left-menu ul li {
  padding: 2px;
}
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1110;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin-right: -16px;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: lightgray;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.link-white a {
  color: white !important;
  transition: 0.3s;
}

.link-white a:hover {
  color: #f1f1f1 !important;
  text-decoration: none;
}

nav a {
  color: gray !important;
}

#navbar-example3 a.active {
  background-color: #64df91 !important;
  color: white !important;
}

.scms-primary {
  background-color: #64df91 !important;
}

.scms-btn {
  border-color: #64df91 !important;
  background-color: #64df91 !important;
}

.scms-btn:hover {
  border-color: #44bf71 !important;
  background-color: #44bf71 !important;
}
#element-list {
  display: flex;
  flex-wrap: wrap;
}

.nav-padding {
  padding: 0px 20px !important;
}

.top-hr {
  border-top: 1px solid rgba(0, 40, 100, 0.12) !important;
}

.temp-element {
  background-color: white;
  border-radius: 2px;
  padding: 8px;
  display: flex;
  margin-left: 15px;
  margin-bottom: 3px;
  color: lightgray;
  box-shadow: 2px 2px 2px;
  font-size: 13px;
}

.temp-action {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 3px;
  padding-left: 8px !important;
}
.tooltip-label {
  position: relative;
  display: inline-flex;
  opacity: 1 !important;
}

.tooltip-danger:disabled {
  background: rgba(220, 53, 69, 0.65) !important;
  border-color: rgba(220, 53, 69, 0.05) !important;
}

.tooltip-success:disabled {
  background: rgba(30, 126, 52, 0.65) !important;
  border-color: rgba(30, 126, 52, 0.05) !important;
}

.tooltip-info:disabled {
  background: rgba(23, 162, 184, 0.65) !important;
  border-color: rgba(23, 162, 184, 0.05) !important;
}

.tooltip-secondary:disabled {
  background: rgba(78, 85, 91, 0.65) !important;
  border-color: rgba(78, 85, 91, 0.05) !important;
}

.tooltip-primary:disabled {
  background: rgba(0, 101, 210, 0.65) !important;
  border-color: rgba(0, 101, 210, 0.05) !important;
}

.tooltip-label .tooltip-text {
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 6px #000000cc;
  padding: 6px;
  /* Position the tooltip */
  position: absolute;
  width: 140%;
  left: -20%;
  top: 40px;
  z-index: 1;
  white-space: normal;
  transition: all .2s ease-in-out;
  transform: scale(0.2);
  visibility: hidden;
}

.tooltip-left {
  top: -5px !important;
  left: 30px !important;
}

.menu-tooltip {
  width: 160px !important;
}

.tooltip-label:hover .tooltip-text {
  visibility: visible;
  transform: scale(1);
}