$primary: #64df91;
$primary-dark: #44bf71;
body {
    font-family: "Lato", sans-serif;
    // transition: background-color .5s;
    // transition: margin-left .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1110;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-right: -16px;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: lightgray;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.link-white {
    a {
        color: white !important;
        transition: 0.3s;
        &:hover {
            color: #f1f1f1 !important;
            text-decoration: none;
        }
    }
}

nav {
    a {
        color: gray !important;
    }
}

#navbar-example3 {
    a {
        &.active {
            background-color: $primary !important;
            color: white !important;
        }
    }
}

.scms-primary {
    background-color: $primary !important;
}

.scms-btn {
    border-color: $primary !important;
    background-color: $primary !important;
    &:hover {
        border-color: $primary-dark !important;
        background-color: $primary-dark !important;
    }
}