body {
  font-family: "Lato", sans-serif; }

.logo span {
  font-size: 1.125rem; }

.logo img {
  width: 32px;
  height: 32px; }

.json-editor {
  font-size: 12px !important; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1110;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin-right: -16px;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: lightgray; }

.sidenav a {
  padding: 8px;
  text-decoration: none;
  font-size: 12px;
  color: white;
  display: block;
  transition: 0.3s; }

.sidenav a:hover {
  color: #f1f1f1; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

#main {
  transition: margin-left .5s;
  padding: 16px; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 12px;
    padding: 6px; } }

.link-white a {
  color: white !important;
  transition: 0.3s; }
  .link-white a:hover {
    color: #f1f1f1 !important;
    text-decoration: none; }

nav a {
  color: gray !important; }

#navbar-example3 a.active {
  background-color: #5ddbb4 !important;
  color: white !important; }

.scms-primary {
  background-color: #5ddbb4 !important; }

.scms-btn {
  border-color: #5ddbb4 !important;
  background-color: #5ddbb4 !important; }
  .scms-btn:hover {
    border-color: #44bf71 !important;
    background-color: #44bf71 !important; }

.sec-nav {
  background: white;
  border-bottom: 1px solid lightgray;
  padding: 10px 140px;
  display: flex;
  flex-direction: row-reverse;
  min-height: 65px;
  align-items: center;
  justify-content: space-between; }

simplelanguage .dropdown button {
  border-color: #5ddbb4;
  color: #5ddbb4; }
  simplelanguage .dropdown button:hover {
    border-color: #44bf71 !important;
    background-color: #44bf71 !important; }
  simplelanguage .dropdown button:active {
    border-color: #44bf71 !important;
    background-color: #44bf71 !important; }

.selectgroup-input:checked + .selectgroup-button {
  border-color: #5ddbb4 !important;
  color: #5ddbb4 !important; }

.scms-link {
  color: #5ddbb4; }
  .scms-link:hover {
    color: #44bf71; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  -webkit-transition: width 300ms ease-in-out, height 300ms ease-in-out;
  -moz-transition: width 300ms ease-in-out, height 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out, height 300ms ease-in-out;
  transition: width 300ms ease-in-out, height 300ms ease-in-out; }

body > div.container.pt-5.sticky-container {
  padding-top: 100px !important; }
