body {
  font-family: "Lato", sans-serif; }

.logo span {
  font-size: 1.125rem; }

.logo img {
  width: 32px;
  height: 32px; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1110;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin-right: -16px;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: lightgray; }

.sidenav a {
  padding: 8px;
  text-decoration: none;
  font-size: 12px;
  color: white;
  display: block;
  transition: 0.3s; }

.sidenav a:hover {
  color: #f1f1f1; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

#main {
  transition: margin-left .5s;
  padding: 16px; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 12px;
    padding: 6px; } }

.link-white a {
  color: white !important;
  transition: 0.3s; }
  .link-white a:hover {
    color: #f1f1f1 !important;
    text-decoration: none; }

nav a {
  color: gray !important; }

#navbar-example3 a.active {
  background-color: #5ddbb4 !important;
  color: white !important; }

.scms-primary {
  background-color: #5ddbb4 !important; }

.scms-btn {
  border-color: #5ddbb4 !important;
  background-color: #5ddbb4 !important; }
  .scms-btn:hover {
    border-color: #44bf71 !important;
    background-color: #44bf71 !important; }
