#element-list {
  display: flex;
  flex-wrap: wrap; }

.nav-padding {
  padding: 0px 20px !important; }

.top-hr {
  border-top: 1px solid rgba(0, 40, 100, 0.12) !important; }

.temp-element {
  background-color: white;
  border-radius: 2px;
  padding: 8px;
  display: flex;
  margin-left: 15px;
  margin-bottom: 3px;
  color: lightgray;
  box-shadow: 2px 2px 2px;
  font-size: 13px; }

.temp-collection {
  display: flex;
  flex-wrap: wrap;
  width: 95%; }

.temp-action {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 3px;
  padding-left: 8px !important; }

.temp-bag {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 5px;
  border: 1px dotted; }

.expo-form {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  border: 1px dotted;
  margin-left: 2%;
  border-radius: 3px; }

.expo-element {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 2px 2px 2px;
  margin: 12px;
  border: 1px;
  border-style: groove; }
