<body class="scms-body">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <div class="container pt-5">

        <div class="d-flex justify-content-between">
            <div>
                <h2>Users</h2>
                <p>Here your will manage accounts, roles and claims for your users.</p>
            </div>
            <div>
                <button onclick="app.goTo('/simplecms/dashboard/newlang')" type="submit"
                    class="btn btn-primary scms-btn scms-primary">
                    <i class="fas fa-plus"></i>
                    Add User
                </button>
                <button onclick="app.goTo('/simplecms/dashboard/newlang')" type="submit"
                    class="btn btn-primary scms-btn scms-primary">
                    <i class="fas fa-plus"></i>
                    Add Claim
                </button>
                <button onclick="app.goTo('/simplecms/dashboard/newlang')" type="submit"
                    class="btn btn-primary scms-btn scms-primary">
                    <i class="fas fa-plus"></i>
                    Add Role
                </button>
            </div>
        </div>
        <hr />
        <div class="pt-2 d-flex justify-content-center">
            <div class="users-list w-100">

            </div>
        </div>
    </div>
    <script>
        simplecms.users.list.init();
    </script>
</body>