<div>
    <button onclick="app.goTo('/simplecms/users')" type="submit" class="btn btn-primary scms-btn scms-primary">
        <i class="fas fa-list"></i>
        Users
    </button>
    <button onclick="app.goTo('/simplecms/users/claimList')" type="submit"
        class="btn btn-primary scms-btn scms-primary">
        <i class="fas fa-list"></i>
        Claims
    </button>
    <button onclick="app.goTo('/simplecms/dashboard/newlang')" type="submit"
        class="btn btn-primary scms-btn scms-primary">
        <i class="fas fa-plus"></i>
        Add User
    </button>

    <button onclick="app.goTo('/simplecms/dashboard/newlang')" type="submit"
        class="btn btn-primary scms-btn scms-primary">
        <i class="fas fa-plus"></i>
        Add Role
    </button>
</div>